
@use 'hover';


$navbar-padding-y: 0px;
$navbar-brand-padding-y: 0px;
$navbar-toggler-padding:3px;


$white: #E4DFDA;
$head: #111111;
$body: #999999;
$link: #777777;
$hover: #333333;
$button: #ff7315;

body{
	padding:0px;
	margin:0px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: url("../images/jumbo.png")no-repeat center center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
}

nav{
	background-color:$head;
	padding:10px;


	a.navbar-toggler {
		img{
			width: 30px;
		}
	}

	.navbar-toggler:focus{
		box-shadow: none;
		border:none;
	}
	ul{

	}
	a{
		color:white;
		font-size: 13px;
		img{
			width:20px;
			margin-right:5px;
		}
	}
	a:hover{
		border-bottom: 1px solid $button;
		color:white;
		padding-bottom:6px;
	}
	a.active{
		border-bottom: 1px solid $button;
		color:white;
		padding-bottom:6px;
	}
	.dropdown{
		.dropdown-menu{
			color: white;
		}
		a.dropdown-item:hover{
			border-bottom: none;
			padding-bottom:4px;
		}
	}
}
#contentresume{
	margin-top: 19px;
	color:black;
	font-size: 13px;
	img{
		width: 100px;
		display: flex;
		border-radius: 50px;
		border:1px solid white;
	}
	.resume-link{
		padding:20px;
		background-color: $head;
		color:white;
		margin-bottom: 10px;
		.card-header{
			padding:0px;
			h6{
				font-size: 20px;
				span{
					font-size: 15px;
					margin-left: 5px;
				}
			}
		}
		ul{
			border-bottom: none;
			margin-bottom: 20px;
			li{
				padding: 0px;
				a{
					color:white;
					padding:10px 5px;
					display: block;
				}
				a:hover{
					color:white;
					text-decoration: none;
				}
				a:focus{
					color:white;
				}
				a.active{
					color:white;
				}
			}
		}
	}
	.tab-content{
		color:white;
		padding:10px;
		h3{
			color:$button;
		}
		.lead{
			margin:0px;
			font-size: 14px;
			font-weight: bold;
		}
	}
	
}
#content{
	margin-top:20px !important;
	width: 60%;
	color:white;
	ul{
		border-bottom: none;
	}
	.btn{
		background-color: $button;
		color:white;
		font-size: 12px;
	}
	.btn:hover{
		padding: 6px 30px;
	}
	.tab-content{
		font-size: 13px;
		border:1px solid $button;
	}
}
.modal-body{
	background: url("../images/jumbo.png")no-repeat center center fixed;
	background-size: cover;
	color:white;
	border: 1px solid $button;
	nav{
		padding:1px;
		a.navbar-toggler {
			img{
				width: 20px;
			}
		}

		.navbar-toggler:focus{
			box-shadow: none;
			border:none;
		}
		ul{

		}
		a{
			color:white;
			font-size: 13px;
			img{
				width:10px;
				margin-right:5px;
			}
		}
		a:hover{
			border-bottom: 1px solid $button;
			color:white;
			padding-bottom:6px;
		}
		a.active{
			border-bottom: 1px solid $button;
			color:white;
			padding-bottom:6px;
		}
		.dropdown{
			.dropdown-menu{
				color: white;
			}
			a.dropdown-item:hover{
				border-bottom: none;
				padding-bottom:4px;
			}
		}
	}
	ul{
		margin-top: 20px;
		font-size: 13px;
	}
}
.modal-header{
	background-color: $head;
	border: 1px solid $button;
}
.modal{

}
.btn-default{
	background-color: $button;
	color:white;
	font-size: 12px;
	padding-left: 30px;
	padding-right: 30px;
}
.container-fluid{
	background-color: $head;
	text-align: center;
	font-size: 12px;
	color: white;
	button{
		img{
			width: 20px;
		}
	}
}

.map-responsive{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
	margin-bottom: 20px;
}
.map-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;

}
.black{
	color:black;
}
.f-right{
	float: right;
}
.f-left{
	float: left;
}
.skills{

	border-radius: 3px;
	margin-top: 30px;
	color: white;
	font-size: 13px;
	a{
		color: white;
	}
	a:hover{
		text-decoration: none;
	}
	.nav-link{
		border-radius: 0px;
		color:white;
	}
	.nav-link:hover{
		background-color: $button;
		border: none;
		color:white;
	}
	.nav-link.active{
		background-color: $button;
		border: none;
		color: white;
	}
	.skills-content{
		background-color: $head;
		.card-header{
			background-color: $hover;
			color:white;
			padding: 5px 10px;
			img{
				width: 50px;
				padding:10px;
				margin-top: -10px;
				border-radius: 25px;
				background-color: white;
			}
		}
		img.skill-img{
			width: 30px;
		}
		.progress{
			height: 15px;
			width: 60%;
			border-radius: 0px;
			margin:0 auto;
			padding:0px;
			.progress-bar{
				width: 95%;
				background-color: $button;
				
			}
			.progress-barAi{
				width: 25%;
				background-color: $button;
			
				text-align: center;
			}
			.progress-barlr{
				width: 75%;
				background-color: $button;
			
				text-align: center;
			}
			.progress-barhtml{
				width: 95%;
				background-color: $button;
			
				text-align: center;

			}
			.progress-barjava{
				width: 85%;
				background-color: $button;
			
				text-align: center;
			}
		}
	}
	
}
#Programming{
		padding-left: 100px;
	}
.row{
	margin:0px;
}
#fluid{
	padding:0px 300px 100px 300px;
}
.form{
	margin-top: 300px;
}
.radius-none{
	border-radius: 0px;
}
.mt-cs{
	margin-top:180px;
}
.mb-cs{
	margin-bottom: 10px;
}
.btnmt-cs{
	margin-top:100px;
}
.btn-moving{
	width: 100%;
	margin: 0 auto;
	white-space: wrap;
	overflow:hidden;
}
footer{
	background-color: $head;
	text-align: center;
	font-size: 12px;
	margin-top: auto;
	padding:20px;
	color:white;
	img{
		width: 20px;
	}
	img.social{
		width: 30px;
	}
}
.fwd{
	height: 40px;
	z-index: -999999999999;
}
// animation
// text-animate
.text-animate{
	position: relative;
	animation: text-example 7s infinite;
	color:$button;
}

@keyframes text-example {
	0%   {
		color: $button;
		  left:0px; 
		  top:0px;
		  }
		50%  {
		color: white;
		  left:0px; 
		  top:0px;
		  font-size: 38px;
		  }
		100% {
		  left:0px; 
		  top:0px;
		  }
  }
  .btn:hover{
		padding:none;
  }

// button-animate
.btn-animate {
	position: relative;
	animation: example 7s infinite;
	width: 200px;
	border-radius: 2px;
	font-size: 13px;
	padding: 5px 2px;
  }
  @keyframes example {
	0%   {
	background-color: $button;
	  left:0px; 
	  top:0px;
	  }
	50%  {
	  left:100%; 
	  transform: translate(-200px);
	  top:0px;
	  }
	100% {
	  left:0px; 
	  top:0px;
	  }
  }
  .btn-hide{
	display: none !important;
}
// card animate
.left{
    z-index: 1;
    position: relative;
    transform: translateX(50%);
    transition: transform 2s;
}
.right{
	position: relative;
	background-color:$head;
    transform: translateX(-50%);
    transition: transform 2s;
}
.row-show:hover{
	margin:0 auto;
    .left{
        transform: translateX(0px);
    }
    .right{
        transform: translateX(0px);
    }
}
// Rptate animation
.rotate-holder{
	transform-style: preserve-3d;
	perspective: 600px;
	height: 100px;
}
.card-rotate-back{
	padding:0px !important;
	top: 0;
	text-align: left;
	font-size: 13px;
	margin: 0;
	transform: rotateX(180deg);
	background-color:$head;
	transition: 2s;
	backface-visibility:hidden ;
	padding: 0px 10px !important;
	margin-bottom: 50px;
	z-index: 9999;
}

.card-rotate-front{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	transform: rotateX(0deg);
	transition: 2s;
	backface-visibility:hidden ;
	img{
		margin:0 auto
	}
}
.rotate-holder:hover{
	.card-rotate-front{
	transform: rotateX(-180deg);
	}
	.card-rotate-back{
	transform: rotateX(0deg);
	}
}

/* media queries */
@mixin phone{
	@media only screen and (max-width:480px){
		@content;
	}
}


@mixin ipad{
	@media only screen and (max-width:768px){
		@content;
	}
}

@mixin add{
	@media only screen and (max-width:987px){
		@content;
	}
}
@mixin ipadpro{
	@media only screen and (min-width:1024px){
		@content;
	}
}
@mixin iphone{
	@media only screen and (max-width:320px){
		@content;
	}
}


@include iphone{
	#content{
		margin-top: 50px !important;
		margin-bottom: 70px !important;
	}
}

@include phone{

	.btnmt-cs{
		margin-top: 10px;
	}

	.card-rotate-back{
		margin-bottom: 100px;
		padding-bottom: 80px;
	}
	.mt-cs{
		margin-top: 100px;
	}
	.btn-hide{
		display: block !important;
	}
	.row-show{
		margin-top: 10px !important;
	}
	.left{
		z-index: 1;
		position: relative;
		transform: translateY(0) !important;
		transition: transform 2s;
	}
	.right{
		background-color:$head;
		transform: translateY(0%)!important;
		transition: transform 2s;
	}
	.row-show:hover{
		margin:0 auto;
		.left{
			transform: translateY(0px);
		}
		.right{
			transform: translateY(0px);
		}
	}
	#fluid{
		padding:2px;
	}
	.resume-link{
		margin: 5px;
	}
	.container-fluid{
		padding:0px;
	}
	.skills{
		padding:0px;
		.progress{
			width: 100%;
		}
		.Programming{
		padding:0px;
	}
	}
	#content{
		padding-bottom: 100px;
	}
}
@include ipad{
	.btn-hide{
		display: block !important;
	}
	.left{
		z-index: 1;
		position: relative;
		transform: translateX(60%);
		transition: transform 2s;
	}
	.right{
		background-color:$head;
		transform: translateX(-30%);
		transition: transform 2s;
		opacity: 0;
	}
	.row-show:hover{
		margin:0 auto;
		.left{
			transform: translateX(0px);
		}
		.right{
			transform: translateX(0px);
			opacity: 1;
		}
	}
	#fluid{
		padding:2px;
	}
	#content{
		position: static;
		width: 97%;
		margin-top: 30px;
	}
}
.container-fluid{
	padding:10px;
}
#social{
	button{
		img{
			width: 20px;
		}
	}
	background-color: $head;
	text-align: center;
	font-size: 12px;
	color: white;
	padding: 0px 50px 0px 50px;
}
@include ipadpro{
	#content{
		position: static;
		width: 97%;
		margin:0 auto;
		margin-top: 270px;
		padding-left: 200px;
	}
	#social{
		button{
			img{
				width: 20px;
			}
		}
		background-color: $head;
		text-align: center;
		font-size: 12px;
		color: white;
		padding: 0px 50px 0px 50px;
	}

}