@use 'hover';
body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../images/jumbo.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #111111;
  padding: 10px;
}

nav a.navbar-toggler img {
  width: 30px;
}

nav .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

nav a {
  color: white;
  font-size: 13px;
}

nav a img {
  width: 20px;
  margin-right: 5px;
}

nav a:hover {
  border-bottom: 1px solid #ff7315;
  color: white;
  padding-bottom: 6px;
}

nav a.active {
  border-bottom: 1px solid #ff7315;
  color: white;
  padding-bottom: 6px;
}

nav .dropdown .dropdown-menu {
  color: white;
}

nav .dropdown a.dropdown-item:hover {
  border-bottom: none;
  padding-bottom: 4px;
}

#contentresume {
  margin-top: 19px;
  color: black;
  font-size: 13px;
}

#contentresume img {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  border: 1px solid white;
}

#contentresume .resume-link {
  padding: 20px;
  background-color: #111111;
  color: white;
  margin-bottom: 10px;
}

#contentresume .resume-link .card-header {
  padding: 0px;
}

#contentresume .resume-link .card-header h6 {
  font-size: 20px;
}

#contentresume .resume-link .card-header h6 span {
  font-size: 15px;
  margin-left: 5px;
}

#contentresume .resume-link ul {
  border-bottom: none;
  margin-bottom: 20px;
}

#contentresume .resume-link ul li {
  padding: 0px;
}

#contentresume .resume-link ul li a {
  color: white;
  padding: 10px 5px;
  display: block;
}

#contentresume .resume-link ul li a:hover {
  color: white;
  text-decoration: none;
}

#contentresume .resume-link ul li a:focus {
  color: white;
}

#contentresume .resume-link ul li a.active {
  color: white;
}

#contentresume .tab-content {
  color: white;
  padding: 10px;
}

#contentresume .tab-content h3 {
  color: #ff7315;
}

#contentresume .tab-content .lead {
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
}

#content {
  margin-top: 20px !important;
  width: 60%;
  color: white;
}

#content ul {
  border-bottom: none;
}

#content .btn {
  background-color: #ff7315;
  color: white;
  font-size: 12px;
}

#content .btn:hover {
  padding: 6px 30px;
}

#content .tab-content {
  font-size: 13px;
  border: 1px solid #ff7315;
}

.modal-body {
  background: url("../images/jumbo.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  border: 1px solid #ff7315;
}

.modal-body nav {
  padding: 1px;
}

.modal-body nav a.navbar-toggler img {
  width: 20px;
}

.modal-body nav .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.modal-body nav a {
  color: white;
  font-size: 13px;
}

.modal-body nav a img {
  width: 10px;
  margin-right: 5px;
}

.modal-body nav a:hover {
  border-bottom: 1px solid #ff7315;
  color: white;
  padding-bottom: 6px;
}

.modal-body nav a.active {
  border-bottom: 1px solid #ff7315;
  color: white;
  padding-bottom: 6px;
}

.modal-body nav .dropdown .dropdown-menu {
  color: white;
}

.modal-body nav .dropdown a.dropdown-item:hover {
  border-bottom: none;
  padding-bottom: 4px;
}

.modal-body ul {
  margin-top: 20px;
  font-size: 13px;
}

.modal-header {
  background-color: #111111;
  border: 1px solid #ff7315;
}

.btn-default {
  background-color: #ff7315;
  color: white;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

.container-fluid {
  background-color: #111111;
  text-align: center;
  font-size: 12px;
  color: white;
}

.container-fluid button img {
  width: 20px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 20px;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.black {
  color: black;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.skills {
  border-radius: 3px;
  margin-top: 30px;
  color: white;
  font-size: 13px;
}

.skills a {
  color: white;
}

.skills a:hover {
  text-decoration: none;
}

.skills .nav-link {
  border-radius: 0px;
  color: white;
}

.skills .nav-link:hover {
  background-color: #ff7315;
  border: none;
  color: white;
}

.skills .nav-link.active {
  background-color: #ff7315;
  border: none;
  color: white;
}

.skills .skills-content {
  background-color: #111111;
}

.skills .skills-content .card-header {
  background-color: #333333;
  color: white;
  padding: 5px 10px;
}

.skills .skills-content .card-header img {
  width: 50px;
  padding: 10px;
  margin-top: -10px;
  border-radius: 25px;
  background-color: white;
}

.skills .skills-content img.skill-img {
  width: 30px;
}

.skills .skills-content .progress {
  height: 15px;
  width: 60%;
  border-radius: 0px;
  margin: 0 auto;
  padding: 0px;
}

.skills .skills-content .progress .progress-bar {
  width: 95%;
  background-color: #ff7315;
}

.skills .skills-content .progress .progress-barAi {
  width: 25%;
  background-color: #ff7315;
  text-align: center;
}

.skills .skills-content .progress .progress-barlr {
  width: 75%;
  background-color: #ff7315;
  text-align: center;
}

.skills .skills-content .progress .progress-barhtml {
  width: 95%;
  background-color: #ff7315;
  text-align: center;
}

.skills .skills-content .progress .progress-barjava {
  width: 85%;
  background-color: #ff7315;
  text-align: center;
}

#Programming {
  padding-left: 100px;
}

.row {
  margin: 0px;
}

#fluid {
  padding: 0px 300px 100px 300px;
}

.form {
  margin-top: 300px;
}

.radius-none {
  border-radius: 0px;
}

.mt-cs {
  margin-top: 180px;
}

.mb-cs {
  margin-bottom: 10px;
}

.btnmt-cs {
  margin-top: 100px;
}

.btn-moving {
  width: 100%;
  margin: 0 auto;
  white-space: wrap;
  overflow: hidden;
}

footer {
  background-color: #111111;
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  padding: 20px;
  color: white;
}

footer img {
  width: 20px;
}

footer img.social {
  width: 30px;
}

.fwd {
  height: 40px;
  z-index: -999999999999;
}

.text-animate {
  position: relative;
  -webkit-animation: text-example 7s infinite;
          animation: text-example 7s infinite;
  color: #ff7315;
}

@-webkit-keyframes text-example {
  0% {
    color: #ff7315;
    left: 0px;
    top: 0px;
  }
  50% {
    color: white;
    left: 0px;
    top: 0px;
    font-size: 38px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes text-example {
  0% {
    color: #ff7315;
    left: 0px;
    top: 0px;
  }
  50% {
    color: white;
    left: 0px;
    top: 0px;
    font-size: 38px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.btn:hover {
  padding: none;
}

.btn-animate {
  position: relative;
  -webkit-animation: example 7s infinite;
          animation: example 7s infinite;
  width: 200px;
  border-radius: 2px;
  font-size: 13px;
  padding: 5px 2px;
}

@-webkit-keyframes example {
  0% {
    background-color: #ff7315;
    left: 0px;
    top: 0px;
  }
  50% {
    left: 100%;
    -webkit-transform: translate(-200px);
            transform: translate(-200px);
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes example {
  0% {
    background-color: #ff7315;
    left: 0px;
    top: 0px;
  }
  50% {
    left: 100%;
    -webkit-transform: translate(-200px);
            transform: translate(-200px);
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.btn-hide {
  display: none !important;
}

.left {
  z-index: 1;
  position: relative;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.right {
  position: relative;
  background-color: #111111;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.row-show:hover {
  margin: 0 auto;
}

.row-show:hover .left {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.row-show:hover .right {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.rotate-holder {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 600px;
          perspective: 600px;
  height: 100px;
}

.card-rotate-back {
  padding: 0px !important;
  top: 0;
  text-align: left;
  font-size: 13px;
  margin: 0;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  background-color: #111111;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 0px 10px !important;
  margin-bottom: 50px;
  z-index: 9999;
}

.card-rotate-front {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card-rotate-front img {
  margin: 0 auto;
}

.rotate-holder:hover .card-rotate-front {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.rotate-holder:hover .card-rotate-back {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

/* media queries */
@media only screen and (max-width: 320px) {
  #content {
    margin-top: 50px !important;
    margin-bottom: 70px !important;
  }
}

@media only screen and (max-width: 480px) {
  .btnmt-cs {
    margin-top: 10px;
  }
  .card-rotate-back {
    margin-bottom: 100px;
    padding-bottom: 80px;
  }
  .mt-cs {
    margin-top: 100px;
  }
  .btn-hide {
    display: block !important;
  }
  .row-show {
    margin-top: 10px !important;
  }
  .left {
    z-index: 1;
    position: relative;
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
  }
  .right {
    background-color: #111111;
    -webkit-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
  }
  .row-show:hover {
    margin: 0 auto;
  }
  .row-show:hover .left {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .row-show:hover .right {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  #fluid {
    padding: 2px;
  }
  .resume-link {
    margin: 5px;
  }
  .container-fluid {
    padding: 0px;
  }
  .skills {
    padding: 0px;
  }
  .skills .progress {
    width: 100%;
  }
  .skills .Programming {
    padding: 0px;
  }
  #content {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .btn-hide {
    display: block !important;
  }
  .left {
    z-index: 1;
    position: relative;
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
  }
  .right {
    background-color: #111111;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    opacity: 0;
  }
  .row-show:hover {
    margin: 0 auto;
  }
  .row-show:hover .left {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .row-show:hover .right {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  #fluid {
    padding: 2px;
  }
  #content {
    position: static;
    width: 97%;
    margin-top: 30px;
  }
}

.container-fluid {
  padding: 10px;
}

#social {
  background-color: #111111;
  text-align: center;
  font-size: 12px;
  color: white;
  padding: 0px 50px 0px 50px;
}

#social button img {
  width: 20px;
}

@media only screen and (min-width: 1024px) {
  #content {
    position: static;
    width: 97%;
    margin: 0 auto;
    margin-top: 270px;
    padding-left: 200px;
  }
  #social {
    background-color: #111111;
    text-align: center;
    font-size: 12px;
    color: white;
    padding: 0px 50px 0px 50px;
  }
  #social button img {
    width: 20px;
  }
}
/*# sourceMappingURL=style.css.map */